.movieCard {
  width: 180px;
  margin: 10px 10px 0 10px;
  
  &__poster-wrapper {
    width: 180px;
    height: 270px;
  }
  
  &__poster {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__item {
    font-size: 12px;
    margin: 0;
  }
}