.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  &__input {
    font-size: 14px;
    height: 18px;
    width: 500px;
    border-radius: 5px;
    border: 1px solid;
    @media (max-width: 880px) {
      width: 250px;
    }

    @media (max-width: 500px) {
      width: 150px;
      font-size: 12px;
    }

    &:focus {
      outline: none;
    }
  }
}
