@import '../../assets/vars.scss';

.header {
  display: flex;
  justify-content: space-around;
  height: 40px;
  align-items: center;
  background-color: $header-color;
  border-radius: 5px;

  &__title {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    width: auto;
    @media (max-width: 550px) {
      font-size: 16px;
    }
    @media (max-width: 400px) {
      font-size: 12px;
      width: 50px;
      text-align: center;
    }

  }

  &__img {
    height: 30px;
    margin-right: 10px;
    @media (max-width: 370px) {
      height: 20px;
      width: 20px;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  &__user-text {
    @media (max-width: 650px) {
      display: none;
    }
  }

  &__drop {
    margin-left: 10px;
    height: 15px;
    width: 10px;
    @media (max-width: 650px) {
      margin-left: 0;
    }
  }
}